@using Microsoft.AspNetCore.Identity
@model VotingPollCreateVM

@{
    ViewData["Title"] = "Create";
}
<div class="container col-9 text-light custom-bg-gray-dark p-4 box-shadow-light-outset">
    <h2>Create a new poll</h2>
    <hr/>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.NotEnoughAnswers)
        {
            <label class="text-danger">At least two answers are required to create a voting poll.</label>
            <br/>
        }
        <input type="hidden" asp-for="OwnerId" />

        <div class="col-12">
            <input type="text" asp-for="Name" class="form-control text-light bg-transparent custom-border-gray" placeholder="Voting Poll Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
        <div class="col-12">
            <input type="text" asp-for="Question" class="form-control text-light bg-transparent custom-border-gray mt-3" placeholder="Voting Poll Question" />
            <span asp-validation-for="Question" class="text-danger"></span>
        </div>
        <br/>

       <h5 class="text-light">Answers:</h4>
        @for (int i = 0; i < Model.Answers.Count; i++)
        {
            @*<div class="col-md-12">
                <label asp-for="Answers[i].Text" class="form-label mb-1">Answer @(i + 1)</label>
            </div>*@

            <div class="row">
                <div class="col-11">
                    <input type="text" asp-for="Answers[i].Text" class="form-control text-light bg-transparent custom-border-gray mt-2" placeholder="Answer @(i+1)" />
                    <input type="hidden" asp-for="Answers[i].DateCreated" value="@DateTime.Now" />
                    <input type="hidden" asp-for="Answers[i].Number" value="@i" />
                    <input type="hidden" asp-for="Answers[i].AuthorId" value="@Model.OwnerId"/>
                </div>
                
                <div class="col-1">
                        <button type="submit" asp-action="RemoveAnswer_CreateEdit" asp-route-actionName="Create" asp-route-answerNo="@(i)" class="custom-btn custom-btn-outline-gray mt-2 float-end" >
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </div>
            </div>
            <div class="row mb-2">
                    <span asp-validation-for="Answers[i].Text" class="text-danger"></span>
            </div>
        }
        
        <button type="submit" asp-action="AddAnswer_CreateEdit" asp-route-actionName="Create" class="custom-btn custom-btn-outline-gray mt-2" >
            <i class="bi bi-plus-lg"></i>
        </button>           
        <br/><br/>

        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input bg-transparent custom-border-gray" asp-for="MultipleChoice"/> Multiple choice answers allowed
                </label>
            </div>
        </div>
        
        
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input bg-transparent custom-border-gray" asp-for="AdditionalAnswers"/> Users can add new answers
                </label>
            </div>
        </div>

        <br/>
        
        <div class="form-group">
            <input type="submit" value="Create" class="custom-btn custom-btn-outline-gray" />
            <a asp-action="MyPolls" class="custom-btn custom-btn-outline-gray" >Back to List</a>
        </div>
    </form>
</div>
