@model IEnumerable<VotingPollListVM>

@{
    ViewData["Title"] = "My Polls";
}

<div class="text-center">
    <h1>My Voting Polls</h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-success">Create a new poll!</a>
</p>


<div class="row">
    @foreach (var votingPoll in @Model)
    {
          <div class="col-sm-4 mb-3">
            <div class="card border-2 border-dark">
              <div class="card-body">
                <h5 class="card-title">@votingPoll.Name</h5>
                <p class="card-text">@votingPoll.Question</p>
                <a asp-action="Vote" asp-route-votingPollId="@votingPoll.Id" class="btn btn-outline-dark border-2">Vote!</a>
                <a asp-action="Results" asp-route-votingPollId="@votingPoll.Id" class="btn btn-outline-info border-2">Results</a>
                <a asp-action="Edit" asp-route-votingPollId="@votingPoll.Id" class="btn btn-outline-warning border-2">Edit</a>
                <a asp-action="Delete" asp-route-votingPollId="@votingPoll.Id" class="btn btn-outline-danger border-2">Delete</a>
              </div>
            </div>
          </div>
    }
</div>
