@model VoteVM


@{
    ViewData["Title"] = "Vote";
}

<div class="container col-sm-7 mb-3">
    <form asp-action="Vote">
        
        <div class="card m-2">
            <div class="card-body">
                <h3 class="card-title">@Model.VotingPoll.Name</h3>
                <p class="card-subtitle">@Model.VotingPoll.Question</p>
                <span asp-validation-for="UserAnswers" validationme class="text-danger"></span>
            </div>
            @{
                if (Model.VotingPoll.MultipleChoice)
                {
                    foreach (var answer in Model.VotingPoll.Answers)
                    {
                        //can't use non-boolean property in the asp-for attribute of an input tag helper,
                        //Razor renders an input whose type is set to text,/
                        //so you must use plain HTML to render checkboxes that enable binding to a simple collection
                        <div class="form-check m-2 mb-3" >
                            <input type="checkbox" name="UserAnswers" value="@answer.Id" class="form-check-input mt-2" id="@answer.Id"> 
                            <label type="text" class="form-control" for="@answer.Id">@answer.Text</label>
                        </div>
                    }
                }else
                {
                    foreach (var answer in Model.VotingPoll.Answers)
                    {
                        <div class="form-check m-2 mb-3" >
                            <input type="radio" asp-for="UserAnswers" value="@answer.Id" class="form-check-input mt-2" id="@answer.Id">
                            <label type="text" class="form-control" for="@answer.Id">@answer.Text</label>
                        </div>
                    }
                }
            }
        </div>
        <input type="hidden" asp-for="VoterId"/>
        <input type="hidden" asp-for="VotingPoll.Id"/>
        <input type="hidden" asp-for="UserAlreadyVoted"/>

        @if (Model.UserAlreadyVoted)
        {
            <input type="submit" asp-action="Vote" value="Change Vote" class="btn btn-primary ms-2"/>
        }else
        {
            <input type="submit" asp-action="Vote" value="Vote" class="btn btn-primary ms-2"/>
        }
        
        <a asp-action="Index" class="btn btn-dark ms-2">Back to List</a>
        
        
    </form>

    <br/>
    <br/>

    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
            <input type="checkbox">Hello 1
        </label>
        <label class="btn btn-primary active">
            <input type="checkbox" checked="checked">Hello 2
        </label>
        <label class="btn btn-primary">
            <input type="checkbox">Hello 3
        </label>
    </div>


</div>