@model VotingVM


@{
    ViewData["Title"] = "Vote";

    var inputType = (Model.VotingPollVM.MultipleChoice) ? "checkbox" : "radio";
    var buttonValue = Model.UserAlreadyVoted ? "Change Vote" : "Vote";
}

<div class="container col-9 text-light custom-bg-gray-dark p-4 box-shadow-light-outset">
    <form asp-action="Vote" asp-controller="VotingPolls">
        <div>
            <h4 class="card-title">@Model.VotingPollVM.Name</h4>
            <h4 class="card-subtitle fw-normal">@Model.VotingPollVM.Question</h4>
            <span asp-validation-for="UserAnswers" class="text-danger"></span>
        </div>
        <br/>
        <div>
        @{
            foreach (var answer in Model.VotingPollVM.Answers)
            {
                var answerStatus = answer.Votes.Any(v => v.VoterId == Model.VoterId) ? "checked" : null;

                <input type=@inputType @answerStatus class="btn-check" name="UserAnswers" value="@answer.Id" id="@answer.Id" autocomplete="off"> 
                <label class="btn btn-outline-dark text-light border-2 text-start col-12 mb-2 " style="border-color:#A9A9A9; border-radius: 5rem" for="@answer.Id">@answer.Text</label>
            }

            if (Model.VotingPollVM.AdditionalAnswers)
            {
                <input type="text" asp-for="NewAnswerValue" class="form-control mb-2 bg-transparent text-light" style="border-color:#A9A9A9; border-radius: 5rem" placeholder="Type your own answer here"/>
                <div><span asp-validation-for="NewAnswerValue" class="text-danger"></span></div>
                <input type="submit" asp-action="AddAnswer_Vote" class="custom-btn custom-btn-outline-gray" value="Add new answer"/>
            }
        }
        <br/><br/><br/>
        </div>
        
        <button type="submit" class="custom-btn custom-btn-outline-gray" asp-controller="VotingPolls" asp-action="Vote">
            <i class="bi bi-star-fill"></i>  @buttonValue
        </button>


        @if (Model.UserAlreadyVoted)
        {
            <a class="custom-btn custom-btn-outline-gray ms-3" asp-action="Results" asp-route-votingPollId="@Model.VotingPollVM.Id"><i class="bi bi-bar-chart-fill"></i>  Results</a>
            <a asp-action="DeleteUserPollVotes" asp-controller="VotingPolls">
                <button type="submit" class="custom-btn custom-btn-outline-gray ms-3" asp-controller="VotingPolls" asp-action="DeleteUserPollVotes" asp-route-actionName="Vote" asp-route-votingPollId="@Model.VotingPollVM.Id">
                    <i class="bi bi-trash3-fill"></i>  Delete my votes
                </button>
            </a>
        }

        <a asp-controller="VotingPolls" asp-action="MyPolls" class="custom-btn custom-btn-outline-gray float-end" ><i class="bi bi-arrow-return-left"></i>  Back to List</a>

        <input type="hidden" asp-for="VoterId"/>
        <input type="hidden" asp-for="VotingPollVM.Id"/>
        <input type="hidden" asp-for="UserAlreadyVoted"/>
    </form>
</div>


